.month-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  margin-top: 10px;
  border: 1px solid green;

  > p {
    width: 30px;
    height: 30px;

    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  > div {
    width: 30px;
    height: 30px;

    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
