.year-container {
  color: #b2b4b7;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  > div {
    width: 70px;
    height: 50px;

    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.is-available {
  color: black;
  cursor: pointer;
  width: 70px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
